.features{

    padding: 1rem;

    background-color: var(--surface-color);

    & div{
        max-height: 592px;
        
    }
}

.grid-wrapper-one{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    min-height: 592px;
    
    margin: 2rem;
    gap: 2rem;
    & div{
        background-color: var(--stroke-color);
        border-radius: 2rem;
    }
}

.grid-wrapper-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 2rem;
    
    min-height: 592px;
    
    & div{
        background-color: var(--stroke-color);
        border-radius: 2rem;
    }
}

.features-div-one{
    display: flex;
    flex-direction: row;

    position: relative;
    overflow: hidden;
}

.features-div-two{
    display: flex;
    flex-direction: row;

    position: relative;
    overflow: hidden;
}

.text-content{
    padding: 2rem;

    & h3{
        font-size: 2rem;
    }

    & p{
        padding-top: 0.5rem;
        font-size: 1.50rem;
    }

    img{
        min-width: 50px;
        min-height: 50px;

        padding-bottom: 1rem;
    }
}

.screen-one{
    position: absolute;

    padding-right: 20px;
    
    max-width: 40%;
    top: -15%;
    left: 3%;

}

.screen-two{
    position: absolute;

    max-width: 40%;
    top: 10%;
    left: 57%;
}

.screen-three{
    position: absolute;

    max-width: 40%;
    top: -25%;
    left: 57%;
}

.screen-opacity{
    opacity: 0;
    padding: 20%;
    max-width: 40%;
}

@media (max-width: 768px){
    
    .screen-opacity, .screen-three, .screen-two, .screen-one{
        display: none;
    }

    .features{
        display: flex;
        flex-direction: column;

        & div{
            max-height: 100%;
        }
    }

    .grid-wrapper-two, .grid-wrapper-one{
        all: unset;

        display: flex;
        flex-direction: column;

        & div{
            flex: 1 0;
            margin-block: 1.5rem;
            margin-inline: 0.5rem;
        }
    }

}