footer{
    display: flex;
    flex-direction: column;

    max-width: 100%;
    margin: 2rem;
}

.footer-info{
    display: flex;
    
    align-items: flex-start;
    width: 100%;
    margin: 2rem;

    & img{
        margin-right: auto;
        
    }

    & div{
        display: flex;
        flex-direction: column;

        margin-right: 10rem;

        & small{
            padding-block: 0.5rem;
        }

        & a{
            padding-block: 0.5rem;
            text-decoration: none;
            font: var(--paragraph);
            color: var(--text-color-secondary);
        }

        & a:hover{
            text-decoration: underline;
        }
    }
}

.medias-copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-inline: 2rem;
}

.link-medias{
    display: flex;
    gap: 1rem;
}

.link-medias svg path{
    fill: #A1A1AA;
    transition: fill 0.25s ease;
}

.link-medias a:hover svg path{
    fill: url(#brandGradient);
}

/* Área do mobile */
@media (max-width: 768px) {
    .footer-info, .medias-copyright{
    flex-direction: column;
    gap: 2rem;
}
}


