section.princing{
    margin-top: 2rem;

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        margin-bottom: 2rem;
    }

    .cards-container{
        display: flex;
        gap: 2rem;
        justify-content: center;
    }

    .plan-card{
        display: flex;
        flex-direction: column;

        padding: 2rem;
        max-width: 584px;
        min-height: 480px;
        background-color: var(--surface-color);
        border-radius: 20px;
        
        & .plan-price{
            display: flex;
            align-items: center;
        }

        & h2{
            padding-block: 1.5rem;
            padding-right: .5rem;
        }

        #plan-button{
            display: inline-block;
            align-self: center;
            margin-block: 1.5rem;
            width: 90%;
        }

        hr {
            border: 0;
            height: 2px;
            background: linear-gradient(to right, transparent 0%, #333 15%,#333 85%, transparent 100%);
            margin: 1.5rem;          
            }
        
        
        & .plan-benefits {

            & p{
                padding-block: 0.25rem;
            }
            
            & p::before{
                content: url(../assets/images/Check.svg);
                margin-right: 0.25rem;
                vertical-align: middle;
            }
        }
    }
}
